.products {
  display: flex;
  z-index: 1;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  background-color: white;
  overflow: auto;
}
.categories > img {
    object-fit: cover;
    margin-bottom: 30px;
    
}
.categories > h1 {
/* text-ali gn: center; */
margin:20px 1px 20px ;
padding: 30px;
border-left: #111 solid 10px;
filter: drop-shadow(2px 2px 1px grey);
letter-spacing: 0.1em;

}

.all_product {
  margin-top: 30px;
  margin-bottom: 60px;
background-color: white;
}
.heading {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading > h1 {
  font-weight: 800;
  margin-left: 25px;
}
.heading > button {
  font-weight: 800;

  margin-right: 25px;
  background: #8B5D5D;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.flex {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
