.checkoutProduct {
  display: flex;    
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct_info {
  padding-left: 20px;
margin: 5px;
}
.checkoutProduct_info > button {
  background-color: #5CB8E4;
  font-weight: 800;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct_image {
  object-fit: cover;
  width: 180px;
  height: 180px;
}
.checkoutProduct_rating {
  display: flex;
  padding: 5px;
}
.checkoutProduct_title {
  padding: 4px;
  font-size: 17px;
  font-weight: 800;
}
