.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
}
.navbar-one,
.navbar-two {
  padding: 1em;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 1px 2px lavender;
}
.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}
.search {
  position: relative;
  display: flex;
}

.search > input {
  width: 100%;
  border: 2px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.search > input:focus {
  box-shadow: inset 0 0 1px #00b4ccbb;
}

.search > button {
  padding: 5px;
  width: 40px;
  height: 34px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #111;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.vendor {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  font-weight: 800;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
}
.count {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 3px 7px;
  border-radius: 50%;
  color: #111;
  border-color: #111;
  border: 1px solid #111;
}
.link {
  position: relative;
 text-align: center;
}
.link > p {
  margin: 0;
  font-weight: 800;
}

.category {
  border-bottom: 1px solid #fff;
}
.category:hover {
  border-bottom: 2px solid #111;
  
}
.navbar-two{
  height: 9px;
}