.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 470px;
  height: 650px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
.header_logo {
  width: 180px;
  object-fit: contain;
}
.login_container {
  margin-top: -20px;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login_container > form > h5 {
  margin-bottom: 5px;
}
.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login_container > p {
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 0.1px;
}
.login_signInButton {
  background-color: #5cb8e4;
  font-weight: 800;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.login_registerButton {
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  text-align: right;
  color: red;
}
.login_line {
  padding: 2px;
  font-size: 12px;
  color: red;
  align-self: flex-end;
}
