.container{
display: flex;
/* flex-wrap: wrap;` */
justify-content: space-around;
}
 .heading {
/* text-ali gn: center; */
margin:20px 1px 20px ;
padding: 30px;
border-left: #111 solid 10px;
filter: drop-shadow(1px 1px 1px grey);
letter-spacing: 0.1em;

}